/* 
0A950D 
02A80C
95FF95 
00AD0C */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
}

*:focus {
  outline: 0 !important;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/assets/fonts/Montserrat.woff2");
}
*:focus {
  outline: 0 !important;
}

::-moz-selection {
  background: #039dd444;
}
::selection {
  background: #039dd444;
}
::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(#7bbb5800, #3c8a2e, #7bbb5800);
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: black;
}

html,
body {
  overflow-x: hidden;
  background: url("../../public/assets/images/background.svg");
  background-size: cover;
}

.gradtitle {
  --bg-size: 400%;
  --color-one: #3c8a2e;
  --color-two: #0a950d;
  font-family: sans-serif;
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
  .gradtitle {
    animation: move-bg 8s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}

.page-transition {
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
  background-clip: text;
  letter-spacing: 4px;
  margin-bottom: 2em;
}
h4 {
  background: -webkit-linear-gradient(#3c8a2e, #3c8a2e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.navbar {
  background-color: #039dd4;
  background: #333;
}

.title {
  background: -webkit-linear-gradient(#3c8a2e, #3c8a2e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 2em;
}

span {
  font-size: 18px;
}

.main-button:focus {
  outline: none !important;
}

.main-button {
  color: white;
  width: 150px;
  height: 49px;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
  background-color: #3c8a2e;
  transition: all 0.4s ease-in-out;
  font-weight: 400;
}

.main-button:hover {
  background-color: #3c8a2e;
  transition: all 0.4s ease-in-out;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
.pyramid1 {
  position: fixed;
  right: 10em;
  top: 5em;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 50%;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  z-index: 0;
}

.pyramid2 {
  width: 80px;
  position: sticky;
  right: 80px;
  top: 10;
  height: 100px;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  z-index: 0;
}

.pyramid3 {
  width: 150px;
  position: fixed;
  left: 46em;
  top: 10%;
  height: 150px;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  z-index: 0;
  rotate: 30deg;
}
.pyramid4 {
  width: 170px;
  position: fixed;
  left: 10;
  top: 60;
  height: 150px;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  z-index: 0;
}
.green_path1 {
  width: 900px;
  height: 900px;
  position: fixed;
  left: 65em;
  bottom: 5em;
  z-index: 0;
}

.content {
  position: relative;
  z-index: 99;
  line-height: 3em;
}

.landing_section {
  margin: auto;
  padding: 10%;
  justify-content: space-evenly;
  width: 90%;
  margin-top: 5em;
}
.card_hover {
  transition: all 0.8s ease-in-out;
}
.card_hover:hover {
  box-shadow: 0 0 20px #0a950d;
  transform: all 3s;
  transition: all 0.8s ease-in-out;
}

.wrapper {
  margin-top: 10%;
  min-height: 150vh;
}

.section_wrapper {
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

@media screen and (max-width: 763px) {
  h3,
  span {
    font-size: smaller;
  }
  .candidate_wrapper {
  }
}

.candidate_form {
  margin: auto;
  justify-content: space-evenly;
  line-height: 3em;
}

.candidate_wrapper {
  background: -webkit-linear-gradient(#4a4a4a00, #4a4a4a53, #4a4a4a00);
  justify-content: center;
  width: 70%;
  margin: auto;
  padding: 5%;
  z-index: 9999;
  margin-bottom: 5em;
}

.service_section {
  margin-top: 50em;
  padding: 10em;
  width: 90%;
  margin: auto;
}

.timeline {
  margin-top: 10em;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
}

.btn {
  width: 150px;
  height: 49px;
  text-align: center;
  background: #eee;
  color: #000;
  transition: all 0.5s ease-out;
  cursor: crosshair;
}

.block .btn {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.block .btn:before,
.block .btn:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  transition: 0.4s;
}
.block .btn:hover {
  color: #fafafa;
}

.block .cyber:before,
.block .cyber:after {
  height: 100%;
  transform: skewX(45deg);
  background: #3c8a2e;
  top: 0;
  left: -5%;
}
.block .cyber:after {
  left: auto;
  right: -5%;
}
.block .cyber:hover {
  background: #111111;
  transition: background 0.4s 0.15s;
}
.block .cyber:hover:before,
.block .cyber:hover:after {
  width: 110%;
}

.flip-card {
  background-color: transparent;
  width: 290px;
  height: 200px;
  perspective: 1000px; /* Required to give the depth effect */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d; /* Keep the 3D effect during the flip */
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hides the side not facing the screen */
  display: flex;
  align-items: center; /* This centers the front and back content */
  justify-content: center;
}

.flip-card-front {
  /* Front Face styling */
}

.flip-card-back {
  /* Back Face styling */
  transform: rotateY(180deg); /* This rotates the back side into position */
}
