.cursor {
    border-radius: 100%;
    z-index: 9999;
}

.cursorFollower {
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    left: -0.5rem;
    top: -0.5rem;
    background-color: #ffffff;   
    z-index: 9999;
    mix-blend-mode: difference;
}
